.VirtualEnvironment*
test
train+val
Test.py
test2.py
cnn.ipynb
mlp.ipynb
logs
model1
model2
model3
Assignment*
cnn.py
my_first_cnn_model*
ROC-Curve.png
ROC-Curve-withextralayer-128.png
my_first_transfer_model*
Gan.py
GanNotebook.ipynb
MainProject-Group03.py